.test{
    margin: 10%;
    margin-top: 5%;
}

.upload{
    display: flex;
    justify-content: center;
}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
.uploadh1{
    margin-top: 5px ;
}
th{
    color: #1870d5;
}
  hr{
 height:2px;border-width:0;color:gray;background-color:gray;
}    